<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, intitial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		 <!-- href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	
		 <!-- Connects to CSS File for Style -->
		<link rel="stylesheet" type="text/css" href= "style.css" />
		<title> Home </title>

	</head>
	<body>

        <!-- Orgs/Clubs -->
		<div class="list-group">

		
				<a href="#" class="list-group-item list-group-item-action active">
				UM Disability Related Organizations
				</a>
				<a href="https://www.facebook.com/InitiativeForInclusiveDesign/" class="list-group-item list-group-item-action active">
				 Initative for Inclusive Design
				</a>
				<a href="https://www.facebook.com/MichiganDisabilityAwareness/" class="list-group-item list-group-item-action">Michigan Students for Disability Awareness </a>
				<a href="#" class="list-group-item list-group-item-action">Disability Rights Organization </a>
				<a href="#" class="list-group-item list-group-item-action">Council for Disabilities Concerns</a>
				<a href="www.hr.umich.edu/ability/" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
			  </div>
        
        <!-- SSD -->


        <!-- Disability and Accessibility -->



        <!-- Campus Wide Projects -->

        



     </body>
    </html>
    